server:
  port: 8084

spring:
  application:
    name: PAYMENT-SERVICE

  # MySQL Database Configuration
  datasource:
    url: jdbc:mysql://100.122.144.43:3306/food_app
    username: teamuser
    password: password123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  # JMS Configuration (Artemis)
  artemis:
    mode: embedded
    embedded:
      enabled: true
      queues:
        - payment.success.queue
        - payment.failure.queue
        - payment.notification.queue

  activemq:
    broker-url: tcp://100.122.144.43:61616
    user: Deepak
    password: Deepak123
    pool:
      enabled: true
      max-connections: 50

  # SMTP Configuration
  mail:
    host: smtp.gmail.com
    port: 587
    username: your-email@gmail.com # Replace with your email
    password: your-app-password # Replace with your app password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            trust: smtp.gmail.com

  cloud:
    loadbalancer:
      ribbon:
        enabled: false

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
